<!DOCTYPE html>
<html>
<head>
  <title>Kazhat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= kazhat_meta_tags %>
  <%= stylesheet_link_tag "kazhat/application", media: "all" %>
  <%= javascript_importmap_tags if respond_to?(:javascript_importmap_tags) %>
</head>
<body>
  <%= yield %>
  <%= kazhat_call_container %>
</body>
</html>
